@model IEnumerable<MyMovie.Areas.T2.Models.T2Table>
@{
    ViewBag.Title = "Index";
}
<p>所选影院：@ViewBag.Result</p>
<p>--------------------------------------</p>

<h2>场次信息</h2>

<table class="table">
    <tr>
        <th>
            放映时间
        </th>
        <th>
            语言版本
        </th>
        <th>
            放映厅
        </th>
        <th>
            售价(元)
        </th>
        <th>
            选座购票
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>

                @Html.DisplayFor(modelItem => item.StartTime)
                <p>   </p>
                @Html.DisplayFor(modelItem => item.EndTime)<p class="cinema-address">散场</p>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Other)

            <td>
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <div class="buy-btn">
                    <a href="@Url.Action("Index2","T2",new{area="T2",id=@item.Id})" data-act="buy-btn-click" data-val="{city_id: 235, cinema_id: 6863}" data-bid="b_wek7vrx9">选座购票</a>
                </div>
            </td>

        </tr>
    }

</table>