@model MyMovie.Areas.T1Upload.Models.T1resource

@{
    ViewBag.Title = "Delete";
   
}

<h2>回收站</h2>

<h3>您确定要删除此资源吗?</h3>
<div>
    <h4>T1resource</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.other)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.other)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("我再看看", "Index")
        </div>
    }
</div>
